.header .swiper-container {
  max-width: 280px;
  height: 100%;
  overflow: hidden;
  padding-bottom: 15px;
}

.header .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.header .swiper-scrollbar-drag {
  background-color: $blue;
}

.swiper-slide .header__img {
  width: auto;
}

.swiper-slide {
  &:last-child {
    margin-left: 210px;
  }
}

.header .swiper-container-horizontal>.swiper-scrollbar {
  position: absolute;
  left: 1%;
  z-index: 50;
  height: 5px;
  width: 98%;
}
