// devices
$mobile-width: 767px;

// colors
$blue: #0062ff;
$black: #000000;
$white: #ffffff;
$grey: #ededed;

$grey-border: #dadbdc;

$text-color: #202326;
$input-text-color: #777777;
$second-text-color: #272522;
$select-text-color: #222222;
